@model a.Models.UserInfo

<div class="text-center user-profile">
    <img class="profile-image" src="~/lib/img/profile.jpg" alt="Profile Image" />
    <h1>@Model.Name</h1>
    <div class="user-details">
        <p><strong>Email:</strong> @Model.Email</p>
    </div>
</div>
