<head>
    <title>@ViewData["Title"] - a</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/a.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/task6.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Task 6";
}

<div class="text-center">
    <h1>Toggle text</h1>
    <p id="toggle-text">This is the text to be toggled.</p>

    <button class="btn btn-primary" onclick="toggleText()">Toggle button</button>
</div>