@model IEnumerable<a.Models.UserInfo>

<head>
    <title>@ViewData["Title"] - a</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/task4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/a.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Task 4";
}

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

