<head>
    <title>@ViewData["Title"] - a</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/task1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/a.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Task 1";
}

<div class="text-center">
    <h1>Welcome to Task 1</h1>

    <a href="\">
        <button class="home-button" href="">Back to home</button>
    </a>
</div>